/* 하단 */
.footer {
  background-color: #ebebeb;
}
.footer-inner {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #acacac;
  background-color: #f7f7f7;
}
.footer-top {
  border-top: 1px;
  position: relative;
}
.footer-top > li {
  display: inline-block;
  padding: 0 2%;
  position: relative;
  /* width: calc((100%-10%) / 5); */
}
.footer-top > li > a {
  width: 100%;
  display: block;
  font-size: clamp(0.7rem, 1.8vw, 1rem);
  text-align: center;
}
/* 메뉴 구분선 만들기 */

.footer-top > li::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 12px;
  background-color: #333;
}

.footer-top > li:first-child::after {
  content: none;
}
.footer-bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
}

.ft-logo {
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(20px, 3vw, 32px);
  width: 40%;
  /* text-align: center; */
}
.footer-text {
  display: flex;
  gap: 5%;
  width: 60%;
}
.text-left {
  width: 60%;
}
.name {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: clamp(0.7rem, 2.8vw, 0.8rem);
}
.text-left > p {
  /* font-size: clamp(0.5rem, 2.8vw, 0.8rem); */
  font-size: clamp(0.7rem, 1.5vw, 1rem);
}
.text-right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 20px;
}
.text-right > a {
  /* font-size: clamp(0.5rem, 2.8vw, 0.8rem); */
  font-size: clamp(0.7rem, 1.5vw, 1rem);
}
.text-right > p {
  /* font-size: clamp(0.5rem, 2.8vw, 0.8rem); */
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  /* width: 100%; */
}
.text-right > p > i {
  margin-left: 2%;
  /* font-size: clamp(0.5rem, 2.8vw, 0.8rem); */
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  color: #727272;
}
/* 섬네일-배포시 */
.thumbnail {
  width: 20%;
  display: none;
}
/* 반응형 */
@media screen and (max-width: 962px) {
  .ft-logo {
    width: 100%;
  }
  .footer-inner {
    width: 100%;
  }
  .footer-bottom {
    display: block;
    width: 100%;
  }
  .ft-logo {
    padding-bottom: 10px;
  }
  .footer-text {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .footer-top {
    width: 100%;
  }
  .footer-top > li {
    width: calc(100%-5% / 5);
  }
  .footer-top > li > a {
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  .footer-top > li {
    padding: 0 1%;
  }
  .footer-top > li > a {
    width: 100%;
    display: block;
  }
}
