/* gotop 버튼 */
#goTop {
  position: fixed;
  bottom: 50px;
  right: 5%;
  z-index: 9999;
  border: 0;
  background: none;
}
#goTop > i {
  font-size: 40px;
}
/* 상단 */
.header {
  width: 100%;
  margin-top: 70px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.header-top > a {
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(20px, 3vw, 32px);
  line-height: 36px;
  width: 30%;
  max-width: 300px;
  min-width: 200px;
  white-space: nowrap;
}
/* 검색/회원가입 */
.search-login {
  display: flex;
  justify-content: space-between;
  width: 60%;
  gap: 1%;
}
.search-bar {
  display: flex;
  align-items: center;
  border: 1.5px solid #3c388e;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  padding: 1% 2%;
  width: 30%;
  max-width: 250px;
  min-width: 150px;
}
/* 검색아이콘 */
.search-bar > i {
  width: 10%;
}
.search-bar input {
  width: 100%;
  border: 0;
  outline: none;
  /* padding-left: 10%; */
}
/* 회원가입 */
.login {
  position: relative;
  width: 70%;
  margin: auto;
}
.gnb {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  gap: 5%;
}
.gnb > li {
  position: relative;
  width: calc(100% / 5);
}
.gnb > li > a {
  display: block;
  font-size: clamp(14px, 0.5vw, 16px);
  text-align: center;
  min-width: 52px;
}
.gnb > li::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -17%;
  /* transform: translate(-50% , -50%); */
  width: 1px;
  height: 12px;
  background-color: #333;
}
.gnb > li:last-child::after {
  content: none;
}
/* 아이콘 */
.icon {
  display: none;
}

/* 상단아래  */
.header-bottom {
  display: flex;
  padding: 1rem 0.5rem;
  justify-content: center;
  min-width: 270px
}
.ham-category {
  display: flex;
  gap: 5%;
  width: 20%;
  align-items: center;
}
.ham-category > a {
  font-size: clamp(14px, 1vw, 20px);
}
/* 햄버거바 */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 0;
  background: none;
  gap: 6px;
  padding-top: 2px;
  align-items: center;
}

.hamburger > span {
  width: 25px;
  /* max-width: 25px;
  min-width: 15px; */
  height: 3px;
  background-color: #333;
  border-radius: 2px;
}

.gnb2 {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  /* gap: 1%; */
}
.gnb2 > li {
  width: calc(100% / 5);
  text-align: center;
}
.gnb2:first-child {
  display: flex;
  gap: 10px;
  margin: auto;
}
.gnb2 > li > a {
  display: block;
  font-size: clamp(14px, 1vw, 20px);
  position: relative;
  width: 100%;
}

/* 서브메뉴 */
.fix-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.01s;
  padding: 1% 0;
  overflow: hidden;
}
.fix-menu > li {
  width: 150px;
  font-size: clamp(12px, 0.8vw, 16px);
  font-weight: 500;
  color: #fff;
  padding: 3% 10%;
}
.fix-menu.active {
  visibility: visible;
  background-color: #3c388e;
  opacity: 0.5;
}
.fix-menu > li:hover {
  /* width: 150px; */
  background-color: #030042;
}
/* 반응형 */
@media screen and (max-width: 880px) {
  .gnb {
    display: none;
  }
  .login {
    width: 10%;
  }
  .icon {
    display: flex;
    /* justify-content: flex-end; */
    gap: 10px;
  }
  .search-bar {
    width: 50%;
    padding: 2% 3%;
  }
}
@media screen and (max-width: 768px) {
  /* .hamburger {
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translatey(-50%); */
  .gnb2 > li > a {
    font-size: 12px;
  }
  .ham-category > a {
    font-size: 12px;
  }
  /* 햄버거바 */
  .hamburger {
    gap: 5px;
    /* padding-top: 2px; */
  }
}
@media screen and (max-width: 500px) {
  .header-top {
    padding-left: 8%;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-login {
    width: 100%;
    justify-content: space-between;
  }
  .login {
    width: 10%;
  }
  .search-bar {
    width: 50%;
    padding: 10px;
  }
  .hamburger > span {
    width: 18px;
  }
  .ham-category{
    width: 30%;
  }
}
@media screen and (max-width: 390px) {
  .search-bar {
    padding: 10px;
    width: 50%;
    min-width: 150px;
  }
  .input {
    font-size: 0.5rem;
  }
  .search-login {
    width: 80%;
  }
  .icon {
    gap: 5px;
  }
    .hamburger > span {
    gap: 3px;
  }
}
