/* 상단 */
.header {
  width: 100%;
  margin-top: 70px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top > a {
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(20px, 3vw, 32px);
  line-height: 36px;
  width: 30%;
  max-width: 300px;
  min-width: 200px;
  white-space: nowrap;
}
/* 검색/회원가입 */
.search-login {
  display: flex;
  justify-content: space-between;
  width: 60%;
  gap: 1%;
}
.search-bar {
  display: flex;
  align-items: center;
  border: 1.5px solid #3c388e;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  padding: 1% 2%;
  width: 30%;
  max-width: 350px;
  min-width: 150px;
}
/* 검색아이콘 */
.search-bar > i {
  width: 10%;
}
.search-bar input {
  width: 100%;
  border: 0;
  outline: none;
  /* padding-left: 10%; */
}
/* 회원가입 */
.login {
  position: relative;
  width: 70%;
  margin: auto;
}
.gnb {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  gap: 5%;
}
.gnb > li {
  position: relative;
  width: calc(100% / 5);
}
.gnb > li > a {
  display: block;
  font-size: clamp(14px, 0.5vw, 16px);
  text-align: center;
  min-width: 52px;
}
.gnb > li::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -17%;
  /* transform: translate(-50% , -50%); */
  width: 1px;
  height: 12px;
  background-color: #333;
}
.gnb > li:last-child::after {
  content: none;
}
/* 아이콘 */
.icon {
  display: none;
}
/* .icon-right {
  display: flex;
  gap: 20%; */

/* 상단아래  */
.header-bottom {
  display: flex;
  padding: 1rem 2rem;
  margin-top: 50px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 0;
  background: none;
  gap: 5px;
  padding-top: 4px;
}

.gnb2 {
  width: 100%;
  display: flex;
  gap: 2%;
}
.gnb2 > li {
  width: calc((100% - 25px) / 5);
  text-align: center;
}
.gnb2 > li > a {
  display: block;
  font-size: clamp(15px, 2vw, 20px);
}
/* 햄버거바 */
.hamburger > span {
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
}

/* 서브메뉴 */
.fix-menu {
  position: absolute;
  /* top: 0; */
  left: 7%;
  z-index: 9999;
  width: 10%;
  max-width: 120px;
  height: 22vw;
  max-height: 250px;
  overflow-y: scroll;
  padding: 1%;
  /* display: block; */
  opacity: 0;
  visibility: hidden;
  background-color: aqua;
  transition: all 0.3s;
}
.fix-menu > li {
  font-size: clamp(12px, 0.8vw, 16px);
  font-weight: 500;
  color: #fff;
  padding: 3% 0;
}
.fix-menu.active {
  visibility: visible;
  background-color: #3c388e;
  opacity: 0.5;
}

/* 반응형 */
@media screen and (max-width: 880px) {
  .gnb {
    display: none;
  }
  .icon {
    display: flex;

    justify-content: flex-end;
    gap: 10px;
  }
  .fix-menu {
    width: 13%;
    height: 42vw;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 500px) {
  .header-top {
    flex-direction: column;
  }
  .header-top > .logo {
    padding-bottom: 5%;
  }
  .fix-menu {
    width: 16%;
    height: 40vw;
  }
  .fix-menu > li {
    font-size: clamp(0.8rem, 0.5vw, 1.2rem);
    padding: 1%;
  }
}
@media screen and (max-width: 390px) {
  .search-bar {
    padding: 2% 3%;
    width: 50%;
    min-width: 200px;
  }
  .input {
    font-size: 0.5rem;
  }
  .search-login {
    width: 80%;
  }
  .icon {
    gap: 5px;
  }
  .fix-menu {
    width: 16%;
    height: 40vw;
  }
  .fix-menu > li {
    font-size: clamp(0.7rem, 0.1vw, 1.2rem);
    padding: 1%;
  }
}
