@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
ul,
li {
  list-style: none;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
}
/* 공통영역 */
.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

/* 상단 */
.header {
  width: 100%;
  margin-top: 70px;
}
.header-top {
  display: flex;
  justify-content: space-between;
}
.header-top > a {
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
}

.search-login {
  display: flex;
  gap: 30px;
}
.search-bar {
  display: flex;
  border: 1.5px solid #3c388e;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  padding: 0 2rem;
}
.search-bar > i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.search-bar input {
  border: 0;
  outline: none;
}
.gnb {
  display: flex;
  gap: 15px;
  align-items: center;
}
.gnb > li {
  position: relative;
}
.gnb > li > a::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -10px;

  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #333;
}

.gnb > li:first-child a::after {
  content: none;
}
.header-bottom {
  display: flex;
  padding: 1rem 2rem;
  margin-top: 50px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 0;
  background: none;
  gap: 5px;
  padding-top: 4px;
}
.gnb2 {
  width: 100%;
  display: flex;
  gap: 2%;
}
.gnb2 > li {
  width: calc((100% - 25px) / 5);
  text-align: center;
}
/* 햄버거바 */
.hamburger > span {
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
}
/*  비주얼슬라이드 */
.visual > img {
  width: 100%;
}

/* weekly - special */
.weeklyspecial {
  padding: 10rem 0;
}

.weeklyspecial-inner > h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem 2rem;
}
.weeklyspecial-img {
  width: 100%;
  display: flex;
  gap: 2%;
}
.weeklyspecial-img > li > img {
  width: 100%;
}
/* <!-- product상품 --> */
.product-inner {
  display: flex;
  gap: 3%;
}
.product-inner > div {
  width: calc(100% / 2);
}
.product > h3 {
  font-weight: 700;
  font-size: 1.8rem;
}
.product > p {
  text-align: end;
  color: #c2c1c1;
}
.depth {
  display: flex;
  gap: 2%;
  padding-top: 2rem;
}
.depth > li {
  width: calc(100% / 2);
}
.depth > li > img {
  width: 100%;
  padding-bottom: 1rem;
}

.depth > li > p {
  font-weight: 700;
}
.red {
  color: red;
  font-weight: bold;
  font-size: 1.4rem;
}
.gray {
  color: #c2c1c1;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: line-through;
}
.product-coupon > span {
  border: none;
  border-radius: 20px;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  width: 10%;
  max-width: 50px;
  min-width: 30px;
  text-align: center;
  color: #fff;
}
.gift {
  background-color: #7ed0f9;
}
.sale {
  background-color: #ed5a5d;
}
.coupon {
  background-color: #9fce00;
}

/*  <!-- new update --> */
.newupdate-wrap {
  margin-top: 90px;
}
.newupdate-inner > h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem 2rem;
}
.depth2 {
  width: 100%;
  display: flex;
  gap: 2%;
}
.depth2 > li {
  width: calc((100%-5%) / 2);
}
.depth2 > li > img {
  width: 100%;
}
.text-1 {
  font-weight: 700;
  font-size: 1.1rem;
}
.text-2 {
  color: #929292;
}


/*  <!-- onlyhere --> */
.onlyhere-wrap{
  margin: 90px 0;
}
.onlyhere-inner> h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem 2rem;
}
.onlyhere-img{
  width: 100%;
  display: flex;
  gap: 1%;
}
.onlyhere-img > li {
  width: calc(100% / 3);
}
.onlyhere-img > li > img{
  width: 100%;
}

/* 하단 */
.footer{
    background-color: #EBEBEB;
}
.footer-inner{
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #acacac;
  background-color: #f9f9f9;
}
.footer-top{
  display: flex;
  gap: 5%;
  border-top: 1px;
 
}
/* 메뉴 구분선 만들기 */
.footer-top > li {
  position: relative;
  
}
.footer-top > li > a::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -27px;
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #333;
}

.footer-top > li:first-child a::after {
  content: none;
}
.footer-bottom{
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
  }

.ft-logo {
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
  margin: auto;
  width: 40%;
}
.footer-text{
  display: flex;
  gap: 5%;
   width: 60%;
}
.text-left{
  width: 60%;
}
.name{
  padding-bottom: 5px;
  font-weight: bold;
}
.text-right{
  position: relative;
  display: flex;
  flex-direction: column;
   width: 40%;
   padding-top: 20px;
}
.text-right > i{
position: absolute;
bottom: 0.9rem;
left: 7rem;
}