/*  비주얼슬라이드 */
.visual {
  position: relative;
  height: 100%;
}
.swiper-slide {
  position: relative;
}
.web-img {
  width: 100%;
  display: block;
}
.tab-img {
  width: 50%;
  display: none;
}
.mob-img {
  width: 50%;
  display: none;
}

/* 비주얼 텍스트 */
.visual-sw-txt {
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
  /* z-index: 9999; */
}
.visual-sw-txt > h3 {
  font-size: 1.5rem;
}
.visual-sw-txt > h1 {
  font-size: clamp(18px, 3vw, 32px);
  padding: 0.8rem 0;
  line-height: 1.2;
}

/* 반응형 */
@media screen and (max-width: 880px) {
  .web-img {
    display: none;
  }
   .mob-img {
    display: none;
  }
  .tab-img {
    width: 100%;
    display: block;
    margin: auto;

  }
  .visual-sw-txt {
    position: absolute;
    top: 30%;
    left: 10;
    transform: translate(-50%, -10%);
  }
}

@media screen and (max-width: 768px) {
  .web-img {
    display: none;
  }
  .mob-img {
    display: none;
  }
  .tab-img {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 390px) {
}
